@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --backround: #0d0d0d;
    --background-sec: #242424;
    --background-ter: #2e2e2e;

    --foreground: #f5f4f2;
    --foreground-sec: #aaaaaa;
}

@media (prefers-color-scheme: dark) {
    :root {
        --backround: #0d0d0d;
        --background-sec: #242424;
        --background-ter: #2e2e2e;

        --foreground: #f5f4f2;
        --foreground-sec: #bdbdbd;
    }
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 0;
    margin: 0;
}

body {
    background: var(--backround);
}

#fullscreen {
    position: fixed;
    z-index: 5;
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("https://cdn.cosmos.so/7ed84652-43bb-4064-9640-fe1e76ee0fb1?format=jpeg");
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 80px;
}

.card__container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 50px;
}

.login__container {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.admin__container {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.card {
    margin-bottom: 100px;
}

.card .card__title {
    outline: none;
    border: none;
    font-family: "Instrument Serif", serif;
    font-size: 75px;
    font-weight: 500;
    text-decoration: none;
    color: var(--foreground);
}

.card .card__description {
    outline: none;
    border: none;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: var(--foreground-sec);
}

.grid {
    position: relative;
    margin: 0 auto;
    padding: 50px;
    max-width: 1100px;
    column-count: 3;
    column-gap: 15px;
}

.grid__item {
    height: 100%;
    break-inside: avoid;
}

.grid__item:hover .grid__item__title {
    visibility: visible;
}

.grid__item__cover img {
    position: relative;
    display: block;
    object-fit: cover;
    width: 100%;
    filter: brightness(1);
}

.grid__item__title {
    position: relative;
    left: 20px;
    bottom: 40px;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    color: var(--foreground);

    visibility: hidden;
    opacity: 0;
    transform: translateY(20px);
}

.item {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 26px;
    width: 100vw;
    margin-top: 50px;
}

.item__details {
    display: flex;
    gap: 26px;
}

.item__details img {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
}

.details__text {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 13px;
    padding: 50px;
}

.details__text .title {
    font-family: "Instrument Serif", serif;
    font-size: 50px;
    font-weight: 500;
    text-decoration: none;
    color: var(--foreground);
}

.details__text .create {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    color: var(--foreground-sec);
}

.item__gallery {
    position: relative;
    margin: 0 auto;
    padding: 15px 50px 45px 50px;
    max-width: 1100px;
    column-count: 2;
    column-gap: 13px;
}

.item__gallery img {
    width: 100%;
    padding: 5px 0;
}

.login__form {
    display: flex;
    flex-direction: column;
    min-width: 500px;
    gap: 16px;
}

.login__title {
    outline: none;
    border: none;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: var(--foreground);
}

.login__form input {
    outline: none;
    border: none;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    color: var(--foreground);
    padding: 16px;
    background: var(--background-sec);
}

.login__form button {
    transition: all 200ms;
    outline: none;
    border: none;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    color: var(--background);
    padding: 16px;
    border-radius: 100px;
    background: var(--foreground);
}

.login__form button:hover {
    cursor: pointer;
    background: var(--foreground-sec);
}

@media (max-width: 800px) {
    .grid {
        column-count: 2;
    }

    .item__gallery {
        column-count: 1;
    }

    .login__form {
        min-width: 400px;
    }
}

@media (max-width: 500px) {
    .grid {
        column-count: 1;
    }

    .login__form {
        min-width: 300px;
    }
}